#popup_background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 20;
	display: none;
}
.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 21;
	
	background-color: antiquewhite;
	border: 6px solid #e9d496;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	display: none;
}
.popup .x_button {
	cursor: pointer;
	right: 0;
	top: 0;
	font-size: 18px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}


/* build menu ----------------------------- */

#build_menu {
	width: 600px;
	height: 325px;
}
#build_menu_title {
	width: 600px;
}
#build_menu_buildings {
	top: 60px;
	height: 285px;
	width: 600px;
	background-color: wheat;
	overflow: auto;
}
#build_menu_buildings * {
	position: static;
}
#build_menu table {
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 5px;
}
#build_menu img {
	height: 100px;
	border-radius: 5px;
}
.build_select_on img:hover {
	box-shadow: 0 0 10px 2px #00dd00;
	cursor: pointer;
}

/* build discount popup ----------------------*/

#build_discount_popup {
	width: 350px;
	height: 250px;
	font-size: 18px;
}
#build_discount_popup img {
	height: 30px;
}
img#building_to_build_display {
	height: 100px;
	background-color: wheat;
	top: 20px;
	left: 20px;
	border-radius: 5px;
}
#discount_you_have {
	top: 20px;
	left: 230px;
	padding: 10px;
	background-color: wheat;
}
#discount_you_have * {
	position: static;
}
#discount_you_have p:first-child {
	margin-bottom: 10px;
}
#discount_you_have div {
	display: inline-block;
}
#discount_you_have img {
	height: 20px;
}
#discount_table {
	top: 130px;
	text-align: left;
	font-size: 14px;
}
#discount_table * {
	position: static;
}
#discount_table td {
	padding-right: 10px;
	padding-bottom: 5px;
}
#discount_table img {
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
	cursor: pointer;
}
#build_button {
	top: 240px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 24px;
}


/* warehouse ------------------------------*/

#warehouse_popup {
	width: 450px;
	height: 150px;
}
#warehouse_popup img {
	height: 50px;
	margin: 5px;
	padding: 10px;
}
#warehouse_equation {
	top: 50px;
}
#warehouse_equation * {
	position: static;
	display: inline-block;
}
#warehouse_plus {
	width: 50px;
	transform: translate(0, -30px);
}
#warehouse_choice * {
	display: block;
}
#warehouse_choice_items * {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 20px;
	background-color: white;
}
#warehouse_choice_items *:hover {
	background-color: yellow;
	cursor: pointer;
}


/* general store ------------------------------- */
#store_popup {
	width: 330px;
	height: 400px;
}
#store_popup img {
	height: 40px;
}
#store_table {
	border-collapse: collapse;
	background-color: lightblue;
}
#store_table * {
	position: static;
}
#store_headers {
	background-color: steelblue;
	font-weight: bold;
}
#store_table td {
	border: 1px solid black;
	padding: 10px;
}
.sell_td {
	width: 100px;
}
.sell_td * {
	display: inline-block;
}
.sell_td p {
	transform: translate(0, -10px);
}
.plus_minus div {
	width: 20px;
	height: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	display: block;
	background-color: lightgray;
	border: 1px solid gray;
	margin: 3px;
	cursor: pointer;
}
.plus_minus div:hover {
	background-color: #eee;
}
#store_total_p {
	bottom: 40px;
	left: 65px;
}
#store_bonus {
	font-size: 18px;
	bottom: 10px;
	left: 65px;
}
#market_bonus {
	font-size: 14px;
	bottom: 10px;
	left: 65px;
}
#store_sell_button{
	bottom: 40px;
	left: 225px;
	font-size: 24px;
}


/* launch popup ---------------------------*/

#launch_popup {
	width: 170px;
	height: 420px;
	font-size: 20px;
}

#launch_title {
	width: 170px;
}

#launch_popup img {
	height: 25px;
}

#launch_popup table {
	top: 80px;
	background-color: wheat;
	border-collapse: collapse;
}

#launch_popup table * {
	position: static;
}

#launch_popup tr:first-child {
	background-color: goldenrod;
}

#launch_popup .distance_option:not(.disabled):hover {
	cursor: pointer;
	background-color: floralwhite;
}

#launch_popup tr.disabled {
	background-color: darkgray;
}

#launch_popup td {
	padding: 10px;
	border: 2px solid burlywood;
}

#launch_popup td span {
	display: inline-block;
	transform: translate(0, -5px);
}