/* z-index table
#home_screen - 20

#game_div
	#player_scroll_wrapper - 10
		.animated_resource - 15
		.player_board .disconnected - 10

	.animated_resource - 15

	.building - 5
*/


html, body {
	margin: 0;
	position: relative;
}

body * {
	position: absolute;
	font-family: sans-serif;
}


/* home screen ----------------------------------*/
#home_screen {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: lightblue;
	z-index: 20;
	position: fixed;
}

#home_screen * {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#player_display {
	background-color: white;
	width: 80vw;
	height: 20vh;
	top: 60vh;
}

#player_display div {
	position: relative;
	width: 100px;
	border: 1px solid gray;
	padding: 5px;
	display: inline-block;
	margin: 10px;
}

#start_button {
	width: 200px;
	font-size: 24px;
	top: 85vh;
}

/* game misc ---------------------------------------------*/
#game_div {
	display: none;
}

.worker {
	height: 30px;
}

.small_ship {
	height: 25px;
}

.big_ship {
	height: 35px;
}

.animated_resource {
	width: 30px;
	transform: translate(-50%, -50%); /*to center it*/
	z-index: 15;
}

.selectable:hover {
	box-shadow: 0 0 10px 5px yellow; /*x-offset, y-offset, blur-radius, spread, color*/
	cursor: pointer;
}

/* game player boards ----------------------------------------*/
#player_scroll_wrapper {
	position: fixed;
	z-index: 10;
	background-color: rgba(255,255,255,0.5);
}

#player_board_scroller {
	height: 100vh;
	position: static;
	overflow: auto;
	direction: rtl; /*to put scroll bar on right*/
}
#player_board_scroller * {
	direction: ltr;
}
#player_board_container {
	position: static;
}

.player_board {
	position: relative;
	background-color: antiquewhite;
	width: 225px;
	height: 125px;
	margin-bottom: 80px; /*for misc items box + gap*/
}

.player_board .player_board_img {
	width: 200px;
	position: relative;
}

.player_board .name_display {
	margin: auto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	
	width: 125px; /*same as img height*/
	bottom: 0;
	right: 25px;
	transform-origin: bottom right;
	transform: rotate(90deg);

}

.player_board .disconnected {
	display: none;
	width: 225px;
	height: 125px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 125px;
	top: 0;
	z-index: 10;
}

.player_board .misc_items {
	height: 50px;
	width: 80%;
	bottom: -50px;
}

.player_board .misc_items * {
	top: 0;
	bottom: 0;
	margin: auto;
}

.player_board .first_player_token_spot {
	left: 80%;
	top: 100%;
	padding: 5px;
}

.player_board table * {
	padding: 0;
	position: relative;
}

.player_board .resource_table {
	top: 12px;
	left: 3px;
}

.player_board .resource {
	font-size: 14px;
	text-align: center;
	margin: 0;
	width: 19px;
}

.player_board table.returned_counters {
	border-spacing: 1px;
	left: 3px;
	top: 88px;
}

.player_board table.small_ship_counters {
	border-spacing: 3px;
	top: 15px;
	left: 98px;
}

.player_board table.big_ship_counters {
	border-spacing: 3px;
	top: 85px;
	left: 98px;
}

.player_board .whale_counter {
	font-size: 14px;
	line-height: 25px;
	color: white;
	text-align: center;
	width: 27px;
	height: 27px;
	background-size: contain;
}

#my_player_board {
	width: 345px;
	height: 200px;
}
#my_player_board .player_board_img {
	width: 320px;
}
#my_player_board .name_display {
	width: 200px; /*same as img height*/
}
#my_player_board .disconnected {
	width: 345px;
	height: 200px;
	line-height: 200px;
	font-size: 24px;
}
#my_player_board .resource_table {
	top: 19px;
	left: 11px;
}
#my_player_board .resource {
	font-size: 18px;
	width: 30px;
}
#my_player_board table.returned_counters {
	border-spacing: 3px;
	left: 5px;
	top: 140px;
}
#my_player_board table.small_ship_counters {
	border-spacing: 6px;
	left: 155.5px;
	top: 24px;
}
#my_player_board table.big_ship_counters {
	border-spacing: 6px;
	left: 156px;
	top: 135px;
}
#my_player_board .whale_counter {
	font-size: 18px;
	line-height: 40px;
	width: 42px;
	height: 42px;
}


#first_player_token {
	height: 40px;
}


/* game board --------------------------------*/

#board {
	position: absolute;
	left: 225px; /*to clear the player boards*/
}

#town {
	left: 250px;
	top: 200px;
}
#town #town_image {
	width: 400px;
}

#ocean {
	left: 750px;
	top: 50px;
}
#ocean_image {
	width: 250px;
}

.building {
	width: 100px; /*size also defined in globals.js to use for placement calcs*/
	height: 100px;
	background-size: cover;
	border-radius: 5px;
	/*border: 3px solid red;*/
	z-index: 5;
}